@charset "UTF-8";
.inner {
  padding: 120px 90px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  padding: 0 90px;
}

.header .logo {
  font-size: 30px;
  font-weight: 600;
}

.header .gnb {
  display: flex;
  gap: 30px;
  font-size: 20px;
}

/* main */
.main {
  width: 100%;
}
.visual {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visual .inner {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.visual .slogan {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
}
.visual .iopen > svg {
  width: 28px;
  height: 128px;
  margin: 0 20px;
}
.visual .inner > p {
  font-size: 28px;
  color: #777;
}
/* intro */
.intro {
  width: 100%;
  height: 100vh;
  background: #EBCA52 no-repeat center center / cover;
  /* position: fixed; */
}
.intro .inner {
  /* padding: 90px 0 90px 90px; */
  /* display: flex;
  justify-content: space-between; */
}
.intro .txt {
  width: 70%;
  font-size: 4vw;
  font-weight: 300;
  color: #FFF;
}
.intro .txt p:first-child {
  font-weight: 700;
}
.intro .img {
  width: 30%;
}
/* appeal */
.appeal {
  width: 100%;
  border-radius: 50px 50px 0 0;
  background-color: #111;
  /* background-color: #E0DCDC; */
  color: #FFF;
}
.appeal .inner {
  padding: 120px 120px;
}
.appeal .profile {
  display: flex;
  align-items: flex-end;
  margin-bottom: 170px;
}
.appeal .profile .desc {
  /* flex: 2; */
  font-size: 2vw;
}
.appeal .profile .img {
  /* flex: 1; */
  margin-left: 80px;
}
.appeal .issue {
  display: flex;
  /* justify-content: spac; */
  gap: 40px;
}
.appeal .issue .issue-list > em {
  display: block;
  font-size: 18px;
  margin-bottom: 32px;
}
.issue-list .issue-depth2 li {
  color: #dfdfdf;
  font-weight: 500;
}
.issue-list .issue-depth2 li em {
  font-weight: 300;
}
.issue-depth2 li {
  display: flex;
  gap: 20px;
}
/* program */
.program {
  width: 100%;
  background-color: #E0DCDC;
}
.program .inner {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 10px; */
}
.program .inner > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40vh;
  width: calc(50% - 1px);
  text-align: center;
}
.program .inner .line-vertical {
  display: block;
  width: 1px;
  height: 40vh;
  background-color: #818181;
}
.program .inner .line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #818181;
}
.program .inner > div {
  padding: 10px;
}
.program .inner > div h3 {
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  /* color: #daa803; */
}
.program .inner > div p {
  font-size: 1.2vw;
  color: #333;
}

/* web */
.web-work {
  width: 100%;
  background-color: #111;
}
.web-work .inner {
  padding: 120px 120px;
}
.web-work .work {
  display: flex;
  flex-flow: column;
}
.web-work .work .work-item {
  perspective: 800px;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.web-work .work .work-item + .work-item {
  margin-top: -340px;
  box-shadow: 0 -30px 32px rgba(0, 0, 0, 0.25);
  transition: all 0.5s ease-in-out;
}
.web-work .work .work-item .inner {
  height: 530px;
  background-color: #222;
  padding: 70px 60px 70px;
  border-radius: 30px;
  border-top: 10px solid #111;
  transform: rotateX(-10deg) translateZ(-5px);
  transition: all 0.3s ease-in-out;
  color: #EBCA52;
  /* position: absolute; */

}
.work .title {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 50px;
}
.web-work .work .pagenation {
  font-size: 40px;
  position: absolute;
  top: 35px;
  right: 40px;
}
.web-work .work .desc-box {
  display: flex;
  justify-content: space-between;
}
.web-work .work .txt-box {
  width: 80%;
}
.web-work .work .txt-box p {
  font-size: 18px;
  margin-bottom: 10px;
}
.web-work .work .txt-box span {
  font-size: 14px;
  /* color: #818181; */
}
.web-work .work .txt-box .tag {
  margin-top: 20px;
}
.work .txt-box .tag > span {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 30px;
  font-size: 14px;
}
.web-work .work .txt-box .tag > span {
  color: #333;
  background-color: #EBCA52;
}
.tag span + span {
  margin-left: 5px;
}
.work .btn-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 15px;
}
.btn-box > a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  position: relative;
  right: 0px;
  transition: all 0.3s;
}
.web-work .work .work-item:hover .inner {
  background-color: #EBCA52;
  color: #333;
  transform: rotateX(0) translateZ(0);
}
.web-work .work .work-item:hover .inner .txt-box .tag > span {
  color: #EBCA52;
  background-color: #333;
}
.web-work .work .work-item:hover {
  top: -100px;
}
.web-work .work .work-item:hover + .work-item {
  margin-top: -250px;
}
.btn-box > a:hover {
  right: -20px;
}
/* design.work */
.design-work {
  background-color: #111;
  position: relative;
}
.design-work::before {
  content: "";
  display: block;
  width: 100%;
  height: 250px;
  background-color: #111;
  position: absolute;
  top: -250px;
  left: 0;
}
.design-work .inner > .title {
  margin-bottom: 70px;
  font-size: 3vw;
  font-weight: 600;
  text-align: center;
  color: #dfdfdf;
}
.design-work .work {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1vw;
}
.design-work .work-item {
  grid-row: span 20;
  border-radius: 1.5vw;
  overflow: hidden;
  /* background: url(../img/work/29dream.png) no-repeat center center / cover; */
  position: relative;
  color: #FFF;
}
.design-work .work-item:nth-child(1),
.design-work .work-item:nth-child(3),
.design-work .work-item:nth-child(5) {
  grid-row: span 40;
}
.design-work .work-item .text-box {
  width: 80%;
  padding: 2vw 2vw;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 20;
  word-break: break-all;
}
.design-work .work-item .title {
  font-size: 2vw;
  margin-bottom: 10px;
}
.design-work .work-item .btn-box {
  display: none;
  position: absolute;
  top: 2vw;
  right: 2vw;
  z-index: 20;
}
.design-work .work-item .img-box .img {
  /* display: flex; */
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.design-work .work-item .img-box {
  width: 100%;
  height: 100%;
}
.design-work .work-item .img-box::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 10;
}
.design-work .work-item .img-box video, img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.design-work .btn-box > a:hover {
  right: auto;
}

footer {
  width: 100%;
  background-color: #EBCA52;
}
footer p {
  font-weight: 700;
  font-size: 28px;
}
footer .mail {
  text-decoration: underline;
}
footer .link {
  font-size: 20px;
  /* margin-top: 20px; */
}
footer .copy {
  font-size: 20px;
  font-weight: 400;
}









@media screen and (max-width:1199px) {
  .inner {
    padding: 90px 40px;
  }
  .header {
    padding: 0 40px;
  }
  .visual .slogan {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .visual .iopen > svg {
    width: 10px;
    height: 43px;
    margin: 0 3px 0 5px;
  }
  .visual .inner > p {
    font-size: 16px;
  }
  /* intro */
  .intro .txt {
    /* font-size: 50px; */
    color: #FFF;
  }
  /* appeal */
  .appeal .inner {
    padding: 90px 40px;
  }
  .appeal .profile {
    flex-direction: column-reverse;
    font-size: 36px;
  }
  .appeal .profile .desc {
    /* flex: 2; */
    font-size: 3vw;
  }
  /* .appeal .profile .desc {
    font-size: 32px;
  } */
  .appeal .profile .img {
    /* flex: 1; */
    margin-left: 30px;
    margin-bottom: 40px;
  }
  .appeal .issue {
    justify-content: space-between;
    gap: 15px;
  }
  .issue-depth2 li {
    font-size: 1.7vw;
  }
  .program .inner > div p {
    font-size: 1.4vw;
    color: #333;
  }
  .web-work .inner {
    padding: 120px 40px;
  }
  .work {
    display: flex;
    flex-flow: column;
  }
  .work .title {
    font-size: 50px;
  }
  .web-work .work .desc-box {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    gap: 30px;
  }
  .web-work .work .txt-box {
    width: 100%;
  }

  .web-work .work .btn-box {
    align-items: flex-start;
    gap: 15px;
  }
  footer .inner {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 100px;
  }
  footer p {
    font-size: 24px;
  }
  footer .link {
    font-size: 16px;
    /* margin-top: 20px; */
  }
  footer .copy {
    font-size: 16px;
  }

}





@media screen and (max-width:767px) {
  .inner {
    padding: 90px 20px;
  }
  .header {
    padding: 0 20px;
  }
  .header .logo {
    font-size: 18px;
    font-weight: 600;
  }
  .header .gnb {
    display: flex;
    gap: 30px;
    font-size: 14px;
  }
  .visual .inner > p {
    font-size: 10px;
  }
  .visual .slogan {
    display: flex;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
  }
  .visual .iopen > svg {
    width: 6px;
    height: 22px;
    margin: 0 1.5px 0 1.5px;
  }

  /* appeal */
  .appeal .inner {
    padding: 90px 20px;
  }
  .appeal .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column-reverse;
    margin-bottom: 100px;
  }
  .appeal .profile .desc {
    word-break: keep-all;
    font-size: 20px;
    text-align: center;
  }
  .appeal .profile .img {
    /* flex: 1; */
    margin-left: auto;
    margin-bottom: 40px;
  }
  .appeal .issue {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 50px;
  }
  .appeal .issue .issue-list > em {
    display: block;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 400;
  }
  .issue-depth2 li {
    display: flex;
    gap: 10px;
    font-size: 15px;
  }
  .program .inner {
    padding: 30px 20px;

  }
  .program .inner > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;
    width: 100%;
    text-align: center;
  }
  .program .inner .line-vertical {
    display: none;
  }
  .program .inner .line {
    display: none;
    width: 100%;
    height: 1px;
    background-color: #818181;
  }
  .program .inner > div {
    padding: 10px;
  }
  .program .inner div {
    border-top: 1px solid #818181;
  }
  .program .inner .design {
    border: none;
  }
  .program .inner > div h3 {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    /* color: #daa803; */
  }
  .program .inner > div p {
    font-size: 12px;
  }
  .web-work .inner {
    padding: 120px 30px;
  }
  .web-work .work {
    display: flex;
    flex-flow: column;
  }
  .web-work .work .work-item + .work-item {
    margin-top: -300px;
  }
  .web-work .work .work-item:hover + .work-item {
    margin-top: -100px;
  }
  .web-work .work .work-item .inner {
    height: 450px;
    padding: 50px 20px;
  }
  .work .title {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .web-work .work .pagenation {
    display: none;
    font-size: 32px;
  }
  .web-work .work .desc-box {
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    gap: 30px;
  }
  .web-work .work .txt-box {
    width: 100%;
  }
  .web-work .work .txt-box p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  /* .work .txt-box span {
    font-size: 14px;
  } */
  .web-work .work .txt-box .tag {
    display: none;
    margin-top: 20px;
  }
  .web-work .work .btn-box {
    align-items: flex-start;
    gap: 15px;
  }
  /* design */
  .design-work::before {
    display: none;
  }
  .design-work .inner > .title {
    margin-bottom: 30px;
    font-size: 5vw;
    font-weight: 600;
  }
  .design-work .work {
    display: flex;
    flex-direction: column;
    gap: 5vw;
  }
  .design-work .work-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
  }
  .design-work .work-item .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .design-work .work-item .text-box {
    width: 70%;
    padding: 0 3vw;
    position: absolute;
    bottom: auto;
    left: auto;
    word-break: break-all;
    text-align: center;
  }
  .design-work .work-item .btn-box {
    position: absolute;
    top: 70vw;
    /* bottom: 40vw; */
    right: auto;
    z-index: 20;
  }
  .design-work .work-item .title {
    font-size: 6vw;
    margin-bottom: 10px;
  }
  .design-work .work-item .img-box {
    position: absolute;
  }
  footer .inner {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: space-between;
    gap: 30px;
  }
  footer p {
    font-size: 16px;
  }
  footer .link {
    font-size: 12px;
    /* margin-top: 20px; */
  }
  footer .copy {
    font-size: 12px;
  }
}