@use './assets/styles/theme' as t;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-size: 100%;
  vertical-align: baseline;
  font-style: normal;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
* {
  box-sizing: border-box;
}
*[hidden] {
  display: none;
}
body {
  word-break: keep-all;
  /* -webkit-text-size-adjust : 100%; */
  -webkit-font-smoothing: antialiased;
  font: 16px 'Poppins', 'Pretendard', dotum, sans-serif;
  letter-spacing: -0.5px;
  line-height: 1.2;

}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  /* *::before , *::after{box-sizing: border-box;} */
}
ul, li {
  list-style: none;
}
/* reset - E */

/* common - S */
* {
  box-sizing: border-box;
}
a:hover {
  cursor: pointer;
}

.hide {
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  position: absolute;
  left: -9999px;
}
/* .clearfix::after{content: ""; display: block; clear: both;} */
img {
  width: 100%;
  max-width: 100%;
  vertical-align: top;
  /* display: block; */
}
a {
  text-decoration: none;
  color: inherit;
}

.skip-nav a {
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background-color: #f90;
  position: absolute;
  left: 0;
  top: -100px;
  z-index: 10000;
}
.skip-nav a:focus {
  top: 0;
}

/* common - E */
body {
  margin: 0;
}

#root {
  width: 100%;
  @include t.themed;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
